.container{
    text-align: center;
    overflow: auto;
    background-color: blanchedalmond;
  box-shadow: inset 6px 6px 12px #ecf0f3;
    box-shadow:  inset 6px 6px 12px  rgba(0,0,0,.16);
    margin: 5px;

}
body{
    background-color: burlywood;
}
*{
    padding: 10px ;
    margin: 10px;
}
input{
    font-size: 20px;
    background-color:#ecf0f3;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: outset 6px 6px 12px #ecf0f3;
    box-shadow:  outset 6px 6px 12px  rgba(0,0,0,.16);
}
button{
    font-size: 20px;
    width: 10%;
    box-sizing: border-box;
    border-radius: 10px;

    background-color: aqua;
    box-shadow: inset 6px 6px 12px #ecf0f3;
    box-shadow:  inset 6px 6px 12px  rgba(0,0,0,.16);
}
.kuralcontainer{
    background-color: blanchedalmond;
    box-shadow: inset 6px 6px 12px #ecf0f3;
      box-shadow:  inset 6px 6px 12px  rgba(0,0,0,.16);
      margin: 5px;

}